@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .auto-grid {
    @apply grid grid-cols-[repeat(auto-fit,minmax(20rem,1fr))] gap-5 py-5;
  }

  .title {
    @apply font-medium text-center mb-5;
    font-size: clamp(1.5rem, 1.125rem + 3vw, 3.5rem);
  }
}

* {
  /* outline: 2px solid red; */
}

html {
  overflow-x: hidden;
}

body {
	font-family: 'Ubuntu', sans-serif;
}

section {
  @apply my-8 md:my-12 lg:my-20;
}

.container {
  @apply w-11/12 mx-auto max-w-7xl;
}

.banner {
  background-image: url('./assets/boy.jpg');
 @apply bg-cover min-h-screen bg-right-bottom text-white font-bold md:text-left grid items-center
}
.card {
  @apply w-full;
}

.card img {
  @apply h-80 min-w-full;
}
[data-testid="carousel-left-control"] span,
[data-testid="carousel-right-control"] span {
  @apply bg-slate-600;
}

.blog p {
  @apply !text-2xl;
}
